<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Should I Watch This Movie?</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/heroic-features.css" rel="stylesheet">

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/19e085bf59.js" crossorigin="anonymous"></script>

</head>

<body class="bg-secondary">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Should I Watch This Movie?</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Features -->
        <div class="jumbotron row bg-secondary py-4">

            <div class="col-lg-3 col-md-6 my-4">
                <div class="card h-100">
                    <img class="card-img-top" src="http://placehold.it/500x450" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-center"> {{ movies.titles[0] }}</h4>
                        <p class="card-text ">{{ movies.reduced_overviews[0] }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <div class="card my-3">
                            {{ movies.predictions[0] }}
                        </div>
                        <a href="#" class="btn btn-primary col-lg-3 col-md-4 btn-sm">
                            <i class="fas fa-thumbs-up"></i>
                        </a>
                        <a href="#" class="btn btn-primary  col-lg-3 col-md-4 btn-sm">
                            <i class="fas fa-thumbs-down"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 my-4">
                <div class="card h-100">
                    <img class="card-img-top" src="http://placehold.it/500x450" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-center">{{ movies.titles[1] }}</h4>
                        <p class="card-text">{{ movies.reduced_overviews[1] }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <div class="card my-3">
                            {{ movies.predictions[1] }}
                        </div>
                        <a href="#" class="btn btn-primary col-lg-3 col-md-4 btn-sm">
                            <i class="fas fa-thumbs-up"></i>
                        </a>
                        <a href="#" class="btn btn-primary  col-lg-3 col-md-4 btn-sm">
                            <i class="fas fa-thumbs-down"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 my-4">
                <div class="card h-100">
                    <img class="card-img-top" src="http://placehold.it/500x450" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-center">{{ movies.titles[2] }}</h4>
                        <p class="card-text">{{ movies.reduced_overviews[2] }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <div class="card my-3">
                            {{ movies.predictions[2] }}
                        </div>
                        <a href="#" class="btn btn-primary col-lg-3 col-md-4 btn-sm">
                            <i class="fas fa-thumbs-up"></i>
                        </a>
                        <a href="#" class="btn btn-primary  col-lg-3 col-md-4 btn-sm">
                            <i class="fas fa-thumbs-down"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 my-4">
                <div class="card h-100">
                    <img class="card-img-top" src="http://placehold.it/500x450" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-center">{{ movies.titles[3] }}</h4>
                        <p class="card-text">{{ movies.reduced_overviews[3] }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <div class="card my-3">
                            {{ movies.predictions[3] }}
                        </div>
                        <a href="#" class="btn btn-primary col-lg-3 col-md-4 btn-sm">
                            <i class="fas fa-thumbs-up"></i>
                        </a>
                        <a href="#" class="btn btn-primary  col-lg-3 col-md-4 btn-sm">
                            <i class="fas fa-thumbs-down"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; SIWTM 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
