{% extends 'base.html' %}

{% block content %}

<div class="card-deck my-4 ">
    <div class="card">
        <a href="{{ url_for('movie', id=ids[0]) }}" class="text-dark card-link">
            <img class="card-img-top" src="http://placehold.it/500x450" alt="">
            <div class="card-body">
                <h4 class="card-title text-center">{{ movies.title[ids[0]] }}</h4>
                <p class="card-text">{{ movies.reduced_overview[ids[0]] }}</p>
            </div>
            <div class="card-footer text-center mt-auto">
                <div class="card my-3">
                    {{ movies.prediction[ids[0]] }}
                </div>
                <a href="#" class="btn btn-primary col-lg-3 col-md-4 btn-sm">
                    <i class="fas fa-thumbs-up"></i>
                </a>
                <a href="#" class="btn btn-primary  col-lg-3 col-md-4 btn-sm">
                    <i class="fas fa-thumbs-down"></i>
                </a>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('movie', id=ids[1]) }}" class="text-dark card-link">
            <img class="card-img-top" src="http://placehold.it/500x450" alt="">
            <div class="card-body">
                <h4 class="card-title text-center">{{ movies.title[ids[1]] }}</h4>
                <p class="card-text">{{ movies.reduced_overview[ids[1]] }}</p>
            </div>
            <div class="card-footer text-center mt-auto">
                <div class="card my-3">
                    {{ movies.prediction[ids[1]] }}
                </div>
                <a href="#" class="btn btn-primary col-lg-3 col-md-4 btn-sm">
                    <i class="fas fa-thumbs-up"></i>
                </a>
                <a href="#" class="btn btn-primary  col-lg-3 col-md-4 btn-sm">
                    <i class="fas fa-thumbs-down"></i>
                </a>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('movie', id=ids[2]) }}" class="text-dark card-link">
            <img class="card-img-top" src="http://placehold.it/500x450" alt="">
            <div class="card-body">
                <h4 class="card-title text-center">{{ movies.title[ids[2]] }}</h4>
                <p class="card-text">{{ movies.reduced_overview[ids[2]] }}</p>
            </div>
            <div class="card-footer text-center mt-auto">
                <div class="card my-3">
                    {{ movies.prediction[ids[2]] }}
                </div>
                <a href="#" class="btn btn-primary col-lg-3 col-md-4 btn-sm">
                    <i class="fas fa-thumbs-up"></i>
                </a>
                <a href="#" class="btn btn-primary  col-lg-3 col-md-4 btn-sm">
                    <i class="fas fa-thumbs-down"></i>
                </a>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('movie', id=ids[3]) }}" class="text-dark card-link">
            <img class="card-img-top" src="http://placehold.it/500x450" alt="">
            <div class="card-body">
                <h4 class="card-title text-center">{{ movies.title[ids[3]] }}</h4>
                <p class="card-text">{{ movies.reduced_overview[ids[3]] }}</p>
            </div>
            <div class="card-footer text-center mt-auto">
                <div class="card my-3">
                    {{ movies.prediction[ids[3]] }}
                </div>
                <a href="#" class="btn btn-primary col-lg-3 col-md-4 btn-sm">
                    <i class="fas fa-thumbs-up"></i>
                </a>
                <a href="#" class="btn btn-primary  col-lg-3 col-md-4 btn-sm">
                    <i class="fas fa-thumbs-down"></i>
                </a>
            </div>
        </a>
    </div>

</div>

{% endblock %}
