{% extends 'base.html' %}

{% block content %}

<div class="card my-4">
    <div class="row">
        <img class="card-img-top col-lg-3 col-md-5 my-3 ml-3" src="http://placehold.it/100x150" alt="">
        <div class="card-body col-lg-8 col-md-6 my-5 mx-3">
            <h4 class="card-title text-center"> {{ movies.title[id] }} </h4>
            <p class="card-text mt-4 text-justify">{{ movies.overview[id] }}</p>
        </div>
    </div>
    <div class="card-footer text-center">
        <div class="card my-3">
            {{ movies.prediction[id] }}
        </div>
        <div class="row text-justify ml-4">
            <div class="col-lg-4 col-md-2"></div>
            <form action="/movie/{{id}}" method="POST" class="mr-4">
                <button class="btn btn-primary btn-md px-5" type="submit" name="taste2" value="1">
                    <i class="fas fa-thumbs-up"></i>
                </button>
            </form>

            <form action="/movie/{{id}}" method="POST" class="ml-5">
                <button class="btn btn-primary btn-md px-5" type="submit" name="taste2" value="0">
                    <i class="fas fa-thumbs-up"></i>
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
